@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    min-height: 100vh;
    background-color: #e3e9f7;
}
main{
    padding: 20px;
    width: 100%;
    position: fixed;
    z-index: 1;
    padding-left: calc(82px + 60px);
    background-color: #E6CEA3;
  
}
#Cabecalho{
    display: flex;
        background-color: #E6CEA3;
    justify-content: space-around;
    
}
#Pesquisa{
    border: 20px;
    border-radius: 20px;
   
}


#sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #E6CEA3;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;  
    transition: all .5s; 
    min-width: 82px;
    z-index: 2;
}

#side_content{
    padding: 12px;
}

#user{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;  
}

#user_infos{
    display: flex;
    flex-direction: column;
}

#user_infos span:last-child{
 color: #6b6b6b;
 font-size: 12px;
} 

#side_items{
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item{
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active{
    background-color: #4f46e5;
}

.side-item.active:hover:not(.active),
#logout_btn{
    background-color: #e3e9f7;
}

.side-item a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
   
    color: #0a0a0a;
}

.side-item.active a{
    color: #e3e9f7;
}

.side-item a i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px ;
    height: 20px;
}

#logout{
    border-top: 1px solid #e3e9f7;
    padding: 12px;
}

#logout_btn{
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background-color: transparent;
}

#open_btn{
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #4f46e5;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}
#open_btn_icon{
    transition: transform .3s ease;
}
.open-sidebar #open_btn_icon{
    transform: rotate(180deg);
}
.item-description{
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
  
}
#sidebar.open-sidebar{
    min-width: 15%;
}
#sidebar.open-sidebar .item-description{
    width: 150px;
   
}
#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 14px;
}
#btn_criar{
    cursor: pointer;
  background-color: #4f46e5;
  color: #e3e9f7;
  border: none;
  border-radius: 20px;
  height: 30px;
}

/* Carrocel */

section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}
.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}
.slider-content input, img-mobile{
    display: none;
}
.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}
.slide-box img{
    width: 100%;
   object-fit: cover;
   height: 85%;
}
.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 50%;
    display: flex;
    justify-content: center;
}
.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #0a0a0a;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}
.nav-manual .manual-btn:hover{
    background-color: #E6CEA3;
}
#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #E6CEA3;
}
#radio1:checked ~ .primeiro{
    margin-left: 0%;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
}





